.element__title {
    color: #000000;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style:  normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    max-width: 190px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    
}